{% define "student/pass.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .row-index {
            width: 50px;
            display: inline-block;
        }
    </style>

</head>
<body>
<div style="padding: 10px; ">
    <br>
    <table id="table" data-search="true" data-show-columns="true" data-pagination="true" data-height="250">
    </table>
</div>  
<script>
    var colums=[{
        field:'type',
        title:'助学金类型',
        align:'center',
        sortable:true
    },{
        field:'name',
        title:'助学金文件名',
        align:'center',
        sortable:true
    },{
        field:'materials',
        title:'相关证明材料',
        align:'center',
        sortable:true
    },{
        field:'time',
        title:'审核时间',
        align:'center',
        sortable:true
    },{
        field:'person',
        title:'审核人',
        align:'center',
        sortable:true
    },{
        field:'status',
        title:'审核状态',
        align:'center',
        sortable:true
    },{
        field:'description',
        title:'审核描述',
        align:'center',
        sortable:true
    }];

    var data = [{
        "type": "国家助学金",
        "name": "xxx国家助学金.pdf",
        "materials": "<a class='filescan' href='' target='view_window'>困难认定表</a>家庭情况调查表</a>",
        "time": "2017-10-23 09:23:12",
        "person": "王利",
        "status": "辅导员审核通过，教务处待审核",
        "description": ""
        
    }, {
        "type": "国家助学金",
        "name": "xxx国家助学金.pdf",
        "materials": "困难认定表 家庭情况调查表",
        "time": "2017-10-23 09:23:12",
        "person": "王利",
        "status": "辅导员审核通过，教务处待审核",
        "description": ""
    },{
     "type": "国家助学金",
        "name": "xxx国家助学金.pdf",
        "materials": "困难认定表 家庭情况调查表",
        "time": "2017-10-23 09:23:12",
        "person": "王利",
        "status": "辅导员审核通过，教务处待审核",
        "description": ""
    }];
     var tableOption = {
        search: true,
        pagination: false,
        striped: true,
        sortStable: true,
        heckbox:false,
        toolbar: '#toolbar',
        formatNoMatches:function () {
          return "暂无数据！";
        },
        columns: colums,
        data:[]
    };
    $(function () {
        loadTable($('#table'),tableOption)
        //表格初始化
        $('#table').bootstrapTable("load",data);
        $('.filescan').attr('href','img/12.pdf');
    });
        function loadTable($tableDom,tableOption) {
        var oldOption = $tableDom.bootstrapTable('getOptions');
        if (!!($('#table')).data("bootstrap.table")) {
            $tableDom.bootstrapTable('refreshOptions',tableOption);
        } else {
            $tableDom.bootstrapTable(tableOption);
        }
    }
</script>
</body>
</html>
{% end %}