{% define "common/index.tmpl" %}
{% template "common/header.tmpl" %}

	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<div class="container">
				<a class="navbar-brand" href="/index">Home</a>
					<div class="justify-content-end">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
							<li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
	
{% template "common/footer.tmpl" %}
{% end %}