{% define "student/profile.tmpl" %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<h2>{% .info.ID %}，欢迎您！</h2>
			</nav>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<ul class="list-group">
					<a href="#" class="list-group-item list-group-item-action active">个人信息</a>
					<a href="#" class="list-group-item list-group-item-action">国家助学金</a>
					<a href="#" class="list-group-item list-group-item-action">国家励志奖学金</a>
					<a href="#" class="list-group-item list-group-item-action">应善良助学金</a>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>
{% end %}